{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %} {% endblock title%}</title>
        <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div>
            <header>
                <nav class="navbar box p-0">
                    <div class="navbar-brand">
                        <a href="{% url "general:home" %}"> <img src=" {% static "logo.png" %}" alt="Company Logo" height="120" width="120"/> </a>
                    </div>
                    <div class="navbar-start">
                        {% if user.is_authenticated %}
                            <a class="navbar-item has-text-info" href="{% url "post:author_posts" user.username %}">My Posts</a>
                        {% endif %}
                        <a class="navbar-item has-text-info" href="{% url "post:post_list" %}">Blog</a>
                        <a class="navbar-item has-text-info" href="#">Q&A</a>
                        <a class="navbar-item has-text-info" href="#">Newly Discovered Places</a>
                        <a class="navbar-item has-text-info" href="#">Hotel/Resort</a>
                        <a class="navbar-item has-text-info" href="#">News</a>
                        <form class="navbar-item my-auto" action="submit" method="get" accept-charset="utf-8">
                            <div class="field has-addons my-auto">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Search...">
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-info">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="navbar-end">
                        {% if user.is_authenticated %}

                            <div class="navbar-item has-dropdown is-hoverable">
                                <p class="navbar-link">
                                    {{ user.username }}
                                </p>

                                <div class="navbar-dropdown">
                                    <a class="navbar-item" href="{% url "account:edit_profile" %}">
                                        Edit Profile
                                    </a>
                                    <a class="navbar-item" href="{% url "account:password_change" %}">
                                        Change Password
                                    </a>
                                </div>
                            </div>
                            <a class="navbar-item" href="{% url "account:logout" %}"><p class="button">Logout</p></a>
                        {% else %}
                            <a class="navbar-item" href="{% url "account:login" %}"><p class="button">Login</p></a>
                            <a class="navbar-item" href="{% url "account:create_account" %}"><p class="button">Signup</p></a>
                        {% endif %}

                    </div>
                </nav>
            </header>

            {% block body %}

            {% endblock body %}
            <footer class="has-background-primary" style="margin-top:5%">
                <h1 class="is-size-1">Footer</h1>
                <h1 class="is-size-1">Footer</h1>
            </footer>
        </div>
    </body>
</html>
