
{% extends "base.html" %}

{% block title %}
    Edit Page
{% endblock title %}

{% block body %}
    <div class="container">
        <h1 class="is-size-2 is-primary">Edit Post</h1>
        <div class="box column is-8 is-offset-2" style="margin-top:3%" >
            <form action="{% url "post:edit_post" post.pk %}" method="post" enctype="multipart/form-data">
                <div class="has-text-danger">
                    {{ form.non_field_errors }}
                </div> </br>
                {% include "form_template.html" with form=form %}
                {% csrf_token %}
                <button class="button is-primary" style="margin-left:40%">Submit</button>
            </form>
        </div>
    </div>

{% endblock body %}
