
{% extends "base.html" %}

{% block title %}
    Join
{% endblock title %}

{% block body %}
    <div class="box column is-4 is-offset-4" style="margin-top:5%" >
        <form action="{% url "account:create_account" %}" method="post" accept-charset="utf-8">
            <div class="has-text-danger">
                {% if error %}
                    {{ error }}
                {% endif %}
                {{ form.non_field_errors }}
            </div> </br>
            {% include "form_template.html" with form=user_create_form %}
            {% csrf_token %}
            <button class="button is-primary">Submit</button>
        </form>
    </div>

{% endblock body %}
